/**
 * Filters
 */
.table-filters > .row {
    margin-bottom: 15px;
}

.table-filters > .row:last-child {
    margin-bottom: 20px;
}

.table-filters-title {
    color: #666;
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.table-filters-form .table-filters-title {
    font-style: normal;
    font-weight: normal;
}

@media ( min-width: 992px) {
    .table-filters-title {
        padding: 9px 0 0 0;
        text-align: right;
    }

    .table-filters-form .table-filters-title {
        padding: 7px 0 0 0;
    }

    .table-filters > .row {
        margin-bottom: 5px;
    }
}

.table-filters-available .table-filters-controls, .table-filters-active .table-filters-controls {
    padding: 8px 0 0 8px;
    background: #f9f9f9;
    border-radius: 4px;
}

.table-filters-available .table-filters-controls a, .table-filters-active .table-filters-controls a {
    margin: 0 8px 8px 0;
}

.table-filters-available .table-filters-controls a.btn-xs .glyphicon, .table-filters-active .table-filters-controls a.btn-xs .glyphicon {
    margin-left: 8px;
}

.table-filters-controls .form-body {
    border: 0;
    margin: 0;
    padding: 0;
}

.table-filters-controls .form-group {
    margin-bottom: 15px;
}

@media ( min-width: 992px) {
    .table-filters-controls .form-group {
        margin-bottom: 0;
    }
}

/**
 * COMMONS
 */
.table-pager {
    text-align: center;
}

.table-pager ul {
    margin: 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 7px 8px;
    line-height: 22px;
}

.table th, .table th a {
    overflow: hidden;
    height: 19px;
    max-height: 19px;
}

.table td {
    border-right: 1px solid #eee;
}

.table tr th:last-child, .table tr td:last-child {
    border-right: none;
}

.table td.selector {
    width: 14px;
    text-align: center;
}

.table td.selector input {
    margin-top: 6px;
}

.table td.actions a {
    margin: 0 8px 0 0;
}

.table td.actions a:last-child {
    margin-right: 0px;
}

.table td.actions .glyphicon {
    margin-right: 0px;
}

/**
 * SORT
 */
.table th.sort a {
    display: block;
}

.table th.sort a:after {
    float: right;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.table thead th.sort a.none:after {
    content: "\2212";
}

.table thead th.sort a.desc:after, .table thead th.sort a.asc:hover:after {
    content: "\e113";
}

.table thead th.sort a.asc:after, .table thead th.sort a.desc:hover:after, .table thead th.sort a.none:hover:after {
    content: "\e114";
}

.table-striped > tbody > tr > td.sorted, .table-striped > tbody > tr > th.sorted, .table > thead > tr > th.sorted {
    background: #f9f9f9;
}

.table-striped > tbody > tr:nth-child(odd) > td.sorted, .table-striped > tbody > tr:nth-child(odd) > th.sorted {
    background: #f2f2f2;
}

/**
 * NESTED
 */
.table-nested > thead > tr > th, .table-nested > tbody > tr > th, .table-nested > tfoot > tr > th, .table-nested > thead > tr > td, .table-nested > tbody > tr > td, .table-nested > tfoot > tr > td {
    border-top: none;
}

.table-nested td.nested {
    padding: 0 8px 0 0;
    line-height: 38px;
}

.table-nested td.nested a:last-child {
    /*padding: 7px 0;*/
    padding: 0 0 0 8px;
}

.table-nested td.nested i,
.table-nested td.nested a.toggle {
    display: none;
    float: left;
    width: 38px;
    height: 38px;
    /*background: #fff;*/
}

.table-nested td.nested .continue {
    background-image: url(data:image/gif;base64,R0lGODlhJgAmAIABAFJic////yH5BAEAAAEALAAAAAAmACYAQAI8jI+JoO3fGJz0yIrdzdz2b2wgJo5UaUJoqrGkW63wMk9yHdy1PvOw7wLihsSi8YhMKpfMpvMJjUqnVFYBADs=);
}

.table-nested td.nested .child {
    background-image: url(data:image/gif;base64,R0lGODlhJgAmAIABAFJic////yH5BAEAAAEALAAAAAAmACYAQAJAjI+JoO3fGJz0yIrdzdz2b2wgJo5UaUJoqrGkW63wMk9yHTB6zu8+eKsFZ0NYEYdMKpfMpvMJjUqn1Kr1is26CgA7);
}

.table-nested td.nested .child.last {
    background-image: url(data:image/gif;base64,R0lGODlhJgAmAIABAFJic////yH5BAEAAAEALAAAAAAmACYAQAI3jI+JoO3fGJz0yIqz3pzfnn3gSJbmSYmooq6L+7RwwNT0befzzvf+DwwKh8Si8YhMKpfMptNXAAA7);
}

.table-nested td.nested .toggle-open {
    background-image: url(data:image/gif;base64,R0lGODlhJgAmAIABAFJic////yH5BAEAAAEALAAAAAAmACYAQAJQjI+JoO3fGJxTBmupTnn79YWgKHbkgx3mGbHf6jpwrMz0eNfAzu+5euldhowicbjpKX81Jsopg0qn1Kr1ipWubKSUgVsCfp3brPmMTqvX0gIAOw==);
}

.table-nested td.nested .toggle-open.last {
    background-image: url(data:image/gif;base64,R0lGODlhJgAmAIABAFJic////yH5BAEAAAEALAAAAAAmACYAQAJIjI+JoO3fGJxTBmup3rz7f4FfJj7YQZbqym5pq7zwMsfAjd91mDM+D/y5erid8YhMKpfMpvO5fMlKJ8NUVA3VpNCu9wsOiz0FADs=);
}

.table-nested td.nested .toggle-close {
    background-image: url(data:image/gif;base64,R0lGODlhJgAmAIABAFJic////yH5BAEAAAEALAAAAAAmACYAQAJLjI+JoO3fGJxTJkvz1dzhDn4gJ45PWZqRGrJd6q5xBs/AjePzljN+8AsCST3dTnY8JSG1pfMJjUqn1OpQ0RyhnNtl1woOi8fkcrUAADs=);
}

.table-nested td.nested .toggle-close.last {
    background-image: url(data:image/gif;base64,R0lGODlhJgAmAIABAFJic////yH5BAEAAAEALAAAAAAmACYAQAJEjI+JoO3fGJxTJkuz3rz7gH1aKDokWKbq+p3s9VaxAtS2PaM3w+t+P9rhcsSi8YhMKpfMJvLkKkFz01nVic1qt9zupgAAOw==);
}

@media ( min-width: 992px) {
    .table-nested td.nested i,
    .table-nested td.nested a.toggle {
        display: inline-block;
    }
}