.ekyna-filters>.row {
    margin-bottom: 15px;
}

.ekyna-filters>.row:last-child {
    margin-bottom: 20px;
}

.ekyna-filters-title {
    color: #666;
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.ekyna-filters-form .ekyna-filters-title {
    font-style: normal;
    font-weight: normal;
}

@media ( min-width : 992px) {
    .ekyna-filters-title {
        padding: 9px 0 0 0;
        text-align: right;
    }
    .ekyna-filters-form .ekyna-filters-title {
        padding: 7px 0 0 0;
    }
    .ekyna-filters>.row {
        margin-bottom: 5px;
    }
}

.ekyna-filters-available .ekyna-filters-controls,.ekyna-filters-active .ekyna-filters-controls {
    padding: 8px 0 0 8px;
    background: #f9f9f9;
    border-radius: 4px;
}

.ekyna-filters-available .ekyna-filters-controls a,.ekyna-filters-active .ekyna-filters-controls a {
    margin: 0 8px 8px 0;
}

.ekyna-filters-available .ekyna-filters-controls a.btn-xs .glyphicon,.ekyna-filters-active .ekyna-filters-controls a.btn-xs .glyphicon {
    margin-left: 8px;
}

.ekyna-filters-controls .form-group {
    margin-bottom: 15px;
}

@media ( min-width : 992px) {
    .ekyna-filters-controls .form-group {
        margin-bottom: 0;
    }
}

.ekyna-pager {
    text-align: center;
}

.ekyna-pager ul {
    margin: 0;
}

.ekyna-table .table th, .ekyna-table .table th a {
    overflow:hidden;
    height:19px;
    max-height:19px;
}
.ekyna-table .table th, .ekyna-table .table td {
    border-right: 1px solid #eee;
}

.ekyna-table .table tr th:last-child,.ekyna-table .table tr td:last-child {
    border-right: none;
}

.ekyna-table .table td.actions a {
    margin: 0 8px 0 0;
}

.ekyna-table .table td.actions a:last-child {
    margin-right: 0px;
}

.ekyna-table .table th.sort a {
    display: block;
}

.ekyna-table .table th.sort a:after {
    float: right;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ekyna-table .table thead th.sort a.none:after {
    content: "\2212";
}

.ekyna-table .table thead th.sort a.desc:after,.ekyna-table .table thead th.sort a.asc:hover:after {
    content: "\e113";
}

.ekyna-table .table thead th.sort a.asc:after,.ekyna-table .table thead th.sort a.desc:hover:after,.ekyna-table .table thead th.sort a.none:hover:after
    {
    content: "\e114";
}

.ekyna-table .table-striped>tbody>tr>td.sorted,.ekyna-table .table-striped>tbody>tr>th.sorted,.ekyna-table .table>thead>tr>th.sorted {
    background: #f9f9f9;
}

.ekyna-table .table-striped>tbody>tr:nth-child(odd)>td.sorted,.ekyna-table .table-striped>tbody>tr:nth-child(odd)>th.sorted {
    background: #f2f2f2;
}